@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .question-div {
    grid-template-columns: 1fr max-content;
    @apply grid gap-x-2 list-none border-b-2 py-4 bg-white  relative;
  }
  .question {
    @apply font-bold text-FmTxGrayishBlue mb-1  transition-all duration-200 hover:text-FmSoftRed hover:cursor-pointer;
  }
  .arr {
    @apply self-center  transition-all duration-200;
  }
  .answer {
    @apply text-sm invisible opacity-0 text-white -translate-y-4 absolute -top-0 transition-all duration-200;
  }
  .active-flag .question{
    @apply text-FmVeryDarkDesaturatedBlue;
  }
  .active-flag .arr {
    @apply rotate-180;
  }
  .active-flag .answer {
    @apply visible relative  text-FmTxGrayishBlue -top-0  opacity-100  translate-y-0  transition-all duration-200;
  }
}
