@tailwind base;
@tailwind components;
@tailwind utilities;

.load::after,
.load::before {
  @apply content-[''] absolute  w-0 h-0 top-0 left-0 border-[50px] border-transparent border-b-white;
}
.load::after {
  animation: rotateA 2s linear infinite .5s;
}

.load::before {
  @apply rotate-90;
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
